<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>腾讯体育</title>
    <link rel="stylesheet" href="css/reset.css">
    <!--LESS-->
    <link rel="stylesheet" href="css/index.css">
    <script>window.PointerEvent = undefined</script>
</head>
<body>
<section class="main" id="main">
    <!--HEADER-->
    <header class="header">
        <div class="con">
            <h1 class="logo">腾讯体育</h1>
            <span class="type">NBA</span>
            <span class="menu"></span>
            <span class="login">登录</span>
        </div>
        <nav class="nav">
            <a href="#">NBA</a>
            <a href="#">CBA</a>
            <a href="#">英超</a>
            <a href="#">欧冠</a>
            <a href="#">亚冠</a>
            <a href="#">西甲</a>
            <a href="#">意甲</a>
            <a href="#">德甲</a>
            <a href="#">法甲</a>
            <a href="#">中超</a>
            <a href="#">NFL</a>
            <a href="#">综合</a>
            <a href="#">欧洲</a>
            <a href="#">社区</a>
            <a href="#">下载</a>
        </nav>
    </header>

    <!--VIDEO-->
    <section class="videoArea">
        <video controls preload="none" poster="img/poster.jpg"
               src="http://117.41.241.15/sports.tc.qq.com/Anw3LEqIOyr8T6h1-2A7PTY2tTu1pjpQhWV2A1ILFicU/d0024rlg2ur.mp4?vkey=4472D4A681E37923E7640D2289926DFFAE5AD1138ED630A870909307E27AC49F93767B39151C42D308057E59E725EDE148EDBE51190F9D98A4E77A01E49B7B81215D0740A4BF97E3BD8EE1820BF98D3754C77685B0DA3A22C9921937DAFD18A4BC94CFA5D447FF4294D62823F6F898845DB75ECC94A27456&br=121&platform=2&fmt=auto&level=0&sdtfrom=v3010&guid=2da75742d44a2096c41f2754dd8ca430">
            <!--对不起您的浏览器不支持播放~~~-->
        </video>
    </section>

    <!--MATCH INFO-->
    <section class="matchInfo">

    </section>

    <!--MATCH LIST-->
    <section class="matchList">
        <ul class="clear">

        </ul>
    </section>
</section>


<script src="js/zepto.min.js"></script>
<script src="js/iscroll.js"></script>
<script src="js/index.js"></script>
<script src="js/template-native.js"></script>
<script type="text/template" id="template">
    <% for(var i =0; i < matchinfo.length; i++) {%>
    <div class="top">
        <div class="home">
            <img src="<%=matchinfo[i]['leftBadge']%>" alt="">
            <span><%=matchinfo[i].leftGoal%></span>
        </div>
        <div class="time"><%=matchinfo[i].startTime2%></div>
        <div class="away">
            <span><%=matchinfo[i].rightGoal%></span>
            <img src="<%=matchinfo[i].rightBadge%>" alt="">
        </div>
    </div>
    <div class="middle">
        <span></span>
    </div>
    <div class="bottom">
        <span class="home" type="1"><%=matchinfo[i].leftSupport%></span>
        <span class="type"><%=matchinfo[i].matchDesc%></span>
        <span class="away" type="2"><%=matchinfo[i].rightSupport%></span>
    </div>
    <%}%>
</script>
<script type="text/template" id="template2">
    <% for(var i = 0; i < matchList.length; i++) {%>
    <li playUrl="<%=matchList[i].playUrl%>">
        <!--<a href="<%=matchList[i].playUrl%>">-->
            <div>
                <img src="<%=matchList[i].pic%>" alt="">
                <span><%=matchList[i].duration%></span>
            </div>
            <p><%=matchList[i].title%></p>
        <!--</a>-->
    </li>
    <%}%>
</script>
</body>
</html>